[alias]
  st = status
  ci = commit
  co = checkout
  amend = commit --amend -C HEAD
  br = branch
  pl = pull
  numcommits = rev-list HEAD --count
[user]
  name = Niels de Hoog
  email = njdehoog@gmail.com
[core]
  excludesfile = ~/.gitignore_global
	editor = vim
[merge]
  tool = opendiff
[mergetool]
  keepBackup = false
[push]
	default = simple
[help]
	autocorrect = 0
[color]
	ui = 1
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
